.items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.IndividualItemContainer {
    background-color: #F1F1F1;
    margin: 70px 0px 30px 0px;
    border-style: none;
    border-color: #F1F1F1;
    height: auto;
    width: 100%;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.IndividualItemShopLink {
  color: black;
  list-style-type: none;
  text-decoration: none;  
  letter-spacing: 1.2px;
}

.IndividualItemImageEARPHONES {
    width: 140px;
    height: 140px;
    margin-top: -40px;
}

.IndividualItemImageHEADPHONES {
    width: 120px;
    height: 130px;
    margin-top: -50px;
}

.IndividualItemImageSPEAKERS {
    width: 84px;
    height: 101px;
    margin-top: -50px;
}

.IndividualItemProductTextEARPHONES {
    color: black;
    margin-top: -10px;
    letter-spacing: 2px;
}
.IndividualItemProductTextHEADPHONES {
    color: black;
    margin-top: 10px;
    letter-spacing: 2px;
}
.IndividualItemProductTextSPEAKERS {
    color: black;
    margin-top: 40px;
    letter-spacing: 2px;
}

@media screen and (min-width: 600px) {
    .items-container {
        flex-direction: row;
    }
    .IndividualItemContainer {
        height: 200px;
        flex: 33%;
        margin: 100px 0 0 0;
    }
    .IndividualItemContainer:nth-child(2) {
      height: 200px;
      margin: 100px 10px 0px 10px;
      border-radius: 10px;
  }
    .IndividualItemImageEARPHONES {
        width: 170px;
        height: 170px;
        margin-top: -50px;
    }
    .IndividualItemImageHEADPHONES {
        width: 150px;
        height: 160px;
        margin-top: -60px;
    }
    .IndividualItemImageSPEAKERS {
        width: 90px;
        height: 110px;
        margin-top: -50px;
    }
    .IndividualItemProductTextEARPHONES {
        margin-top: -20px;
    }
    .IndividualItemProductTextHEADPHONES {
        margin-top: -10px;
    }
    .IndividualItemProductTextSPEAKERS {
        margin-top: 40px;
    }
    .individual-item-text, .IndividualItemShop {
        font-size: 15px;
        letter-spacing: 2px;
    }
    .IndividualItemShopIcon {
      height: 15px;
    }
}

@media screen and (min-width: 1100px) {
  .IndividualItemContainer {
      height: 200px;
  }
  .IndividualItemContainer:nth-child(2) {
    height: 200px;   
  }
  .IndividualItemImageEARPHONES {
      width: 170px;
      height: 170px;
      margin-top: -50px;
  }
  .IndividualItemImageHEADPHONES {
      width: 150px;
      height: 160px;
      margin-top: -60px;
  }
  .IndividualItemImageSPEAKERS {
      width: 90px;
      height: 110px;
      margin-top: -50px;
  }
  .IndividualItemProductTextEARPHONES {
      margin-top: -20px;
  }
  .IndividualItemProductTextHEADPHONES {
      margin-top: -10px;
  }
  .IndividualItemProductTextSPEAKERS {
      margin-top: 40px;
  }
  .individual-item-text, .IndividualItemShop {
      font-size: 15px;
      letter-spacing: 2px;
  }
  .IndividualItemShopIcon {
    height: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .items-container {
    margin-top: 150px;
  }
  .IndividualItemContainer {
      height: 300px;
  }
  .IndividualItemContainer:nth-child(2) {
      height: 300px;
  }
  .IndividualItemImageEARPHONES {
      width: 280px;  
      height: 280px;
      margin-top: -110px;
  }
  .IndividualItemImageHEADPHONES {
      width: 250px;
      height: 250px;
      margin-top: -110px;
  }
  .IndividualItemImageSPEAKERS {
      width: 150px;
      height: 170px;
      margin-top: -90px;
  }
  .IndividualItemProductTextEARPHONES {
      margin-top: -40px;
  }
  .IndividualItemProductTextHEADPHONES {
      margin-top: -10px;
  }
  .IndividualItemProductTextSPEAKERS {
      margin-top: 50px;
  }
  .individual-item-text, .IndividualItemShop{
      font-size: 25px;
      letter-spacing: 2.5px;
  }
  .IndividualItemShopIcon {
    height: 20px;
  }
}

@media screen and (min-width: 2500px) {
  .IndividualItemContainer {
      height: 400px;
  }
  .IndividualItemContainer:nth-child(2) {
      height: 400px;
  }
  .IndividualItemImageEARPHONES {
      width: 350px;
      height: 350px;
      margin-top: -120px;
  }
  .IndividualItemImageHEADPHONES {
      width: 350px;
      height: 300px;
      margin-top: -120px;
  }
  .IndividualItemImageSPEAKERS {
      width: 200px;
      height: 220px;
      margin-top: -110px;
  }
  .IndividualItemProductTextEARPHONES {
      margin-top: -40px;
  }
  .IndividualItemProductTextHEADPHONES {
      margin-top: -10px;
  }
  .IndividualItemProductTextSPEAKERS {
      margin-top: 60px;
  }
  .individual-item-text, .IndividualItemShop{
      font-size: 35px;
      letter-spacing: 4px;
  }
  .IndividualItemShopIcon {
    height: 30px;
  }
}

@media screen and (min-width: 3000px) {
  .items-container {
    /* margin-top: 200px; */
  }
  .IndividualItemContainer {
      height: 700px;
  }
  .IndividualItemContainer:nth-child(2) {
      height: 700px; 
  }
  .IndividualItemImageEARPHONES {
      width: 650px;
      height: 640px;
      margin-top: -200px;
  }
  .IndividualItemImageHEADPHONES {
      width: 600px;
      height: 600px;
      margin-top: -200px;
  }
  .IndividualItemImageSPEAKERS {
      width: 400px;
      height: 450px;
      margin-top: -190px;
  }
  .IndividualItemProductTextEARPHONES {
      margin-top: -80px;
  }
  .IndividualItemProductTextHEADPHONES {
      margin-top: -40px;
  }
  .IndividualItemProductTextSPEAKERS {
      margin-top: 120px;
  }
  .individual-item-text, .IndividualItemShop{
      font-size: 65px;
      letter-spacing: 8px;
  }
  .individual-item-text {
      margin-bottom: -10px;
  }
  .IndividualItemShopIcon {
    height: 50px;
  }
}