.newProductContainer {
    text-align: center;
    margin: 80px 5px 0 5px;
}

.newProductText {
    letter-spacing: 4px;
    font-size: 12px;
    opacity: .45;
    color: #FFFFFF;  
}

.headPhonesName {
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
    letter-spacing:3px;
    font-size: 28px;
    opacity: .9;
    margin: 20px 0 20px 0;
}

.headPhonesParagraph {
    color: #FFFFFF;
    font-size: 9px;
    padding: 0 37px 0 37px;
    line-height: 15px;
    mix-blend-mode: normal;
    opacity: .7;
    letter-spacing: .5px;
    margin: 30px 0 30px 0;
}

@media (min-width: 355px) {
  .newProductContainer {
      margin: 100px 20px 100px 10px;
  }

  .newProductText {
      letter-spacing: 5px;
      font-size: 14px; 
  }

  .headPhonesName {
      line-height: 45px;
      letter-spacing:5px;
      font-size: 36px;
      margin: 25px 0 25px 0;
  }                       

  .headPhonesParagraph {
      font-size: 12px;
      padding: 0 30px 0 30px;
      line-height: 18px;
      letter-spacing: .7px;
      margin-bottom: 40px;
  }           
}

@media (min-width: 400px) {
  .newProductContainer {
      margin: 35vw 5vw 0 6vw;
  }

  .newProductText {
      letter-spacing: 8px;
      font-size: 20px; 
  }

  .headPhonesName {
      line-height: 55px;
      letter-spacing:9px;
      font-size: 40px;
      margin: 5vw 0 -3vw 0;
  }                       

  .headPhonesParagraph {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1px;
      margin-bottom: 6vw;
  }           
}

@media screen and (min-width: 480px) {
  /* .newProductContainer {
    margin: 35vw 6vw 0 6vw;
  } */

    /* .newProductText {
        letter-spacing: 8px;
        font-size: 20px; 
    }                */

    .headPhonesName {
        line-height: 60px;
        letter-spacing:9px;
        font-size: 45px;
        margin: 6vw 0 0 0;
    }                                                        

    .headPhonesParagraph {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 3px;
        margin: 6vw 0 10vw 0;
    }    
}   

@media screen and (min-width: 600px) {
    .newProductContainer {
        margin: 16vw 5vw 0 6vw;
    }

    .newProductText {
        letter-spacing: 8px;
        font-size: 20px; 
    }           
}   

@media screen and (min-width: 850px) {
  .headPhonesName {
        line-height: 60px;
        letter-spacing:9px;
        font-size: 50px;
        margin: 10vw 3vw 0 3vw;
    }
  .headPhonesParagraph {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 4.5px;
    margin-top: 4vh;  
    padding: 0 16vw 0 16vw;
  }
}

@media screen and (min-width: 1000px) {
    .headPhonesName {
      line-height: 70px;
      letter-spacing:12px;
      font-size: 65px;
      margin-top: 4vh;
    }
    .headPhonesParagraph {
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 4px;
      margin-top: 4vh;  
      padding: 0 180px 0 180px;
    }
}

@media screen and (min-width: 1200px) {
  .newProductText {
    letter-spacing: 18px;
  }

  .headPhonesName {
    line-height: 100px;
    letter-spacing:16px;
    font-size: 85px;
  }
  .headPhonesParagraph {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 5px;
    margin-top: 4vh;  
    padding: 20px 220px 20px 220px;
  }
}

@media screen and (min-width: 1400px) {
    .newProductContainer {
      text-align: left;
      margin: 20vh 0 0 7vw;
    }
    .headPhonesName {
      line-height: 100px;
      letter-spacing:9px;
      font-size: 85px;
      margin: 3vh 0 0 0;
      padding: 30px 40vw 0 0;
    }

    .headPhonesParagraph {
        font-size: 25px;
        padding: 0 50vw 0 0;
        line-height: 40px;
        letter-spacing: 4px;
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 1764px) {
    .newProductContainer {
      text-align: left;
      margin: 15vh 0 0 7vw;
    }
    .newProductText {
      letter-spacing: 18px;
      font-size: 26px;
    }
    .headPhonesParagraph {
      padding: 0 60vw 0 0;
    }
}

@media screen and (min-width: 2000px) {
    .newProductContainer {
      margin: 40vh 5vw 5vw 7vw;
    }
    .newProductText {
      letter-spacing: 14px;
      font-size: 36px;
    }
    .headPhonesName {
      line-height: 100px;
      letter-spacing:10px;
      font-size: 100px;
      margin: 4vh 6vw 0 0vw;
      padding: 30px 40vw 0 0;
    }
    .headPhonesParagraph {
      padding: 3vh 45vw 5vh 0;
      font-size: 30px;
      letter-spacing: 8px;
      line-height: 45px;
    } 
}


@media screen and (min-width: 2500px) {
  .newProductContainer {
    margin: 32vh 5vw 5vw 7vw;
  }
  .newProductText {
    letter-spacing: 16px;
    font-size: 40px;
  }
  .headPhonesName {
    line-height: 130px;
    letter-spacing:14px;
    font-size: 120px;
    margin: 4vh 6vw 0 0vw;
    padding: 30px 40vw 0 0;
  }
  .headPhonesParagraph {
    padding: 3vh 50vw 5vh 0;
    font-size: 35px;
    letter-spacing: 8px;
    line-height: 45px;
  }
}

@media screen and (min-width: 3000px) {
  .newProductContainer {
    margin: 20vh 5vw 5vw 7vw;
  }
  .newProductText {
    letter-spacing: 16px;
    font-size: 44px;
  }
  .headPhonesName {
    line-height: 160px;
    letter-spacing:19px;
    font-size: 150px;
    margin: 4vh 6vw 0 0vw;
    padding: 30px 40vw 0 0;
  }
  .headPhonesParagraph {
    padding: 3vh 50vw 5vh 0;
    font-size: 40px;
    letter-spacing: 9px;
    line-height: 55px;
  }
}

@media screen and (min-width: 4000px) {
  .newProductContainer {
    margin: 15vh 5vw 5vw 7vw;
  }
  .newProductText {
    letter-spacing: 30px;
    font-size: 65px;
  }
  .headPhonesName {
    line-height: 240px;
    letter-spacing:30px;
    font-size: 250px;
    margin: 4vh 6vw 0 0vw;
    padding: 30px 40vw 0 0;
  }
  .headPhonesParagraph {
    padding: 3vh 50vw 5vh 0;
    font-size: 75px;
    letter-spacing: 12px;
    line-height: 80px;
  }
}