.ProductTileYX1Container {
    width: 100%;
    text-align: center;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
}

.ProductTileYX1BackgroundImage {
    background-image:url("../../../assets/image-earphones-yx1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
    order: 1;
}


.ProductTileYX1ProductInfoContainer {
    background-color: #F1F1F1;
    border-radius: 10px;
    background-size: cover;
    height: 200px;
    order: 2;
    margin-top: 30px;   
    text-align: left;
    padding-left: 20px;
}

.ProductTileYX1ProductText {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    padding-top: 20px;
}

@media screen and (min-width: 600px) {
  .ProductTileYX1Container {
      flex-direction: row;
  }

  .ProductTileYX1BackgroundImage {
      background-image:url("../../../assets/image-earphones-tablet-yx1.jpg");
      width: 50%;
  }

  .ProductTileYX1ProductInfoContainer {
      width: 50%;
      margin-top: 0;
      margin-left: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .ProductTileYX1BackgroundImage {
      background-image:url("../../../assets/image-earphones-desktop-yx1.jpg");
      width: 50%;
  }

  .ProductTileYX1ProductInfoContainer {
      width: 50%;
      margin-top: 0;
      margin-left: 20px;
  }
}

@media screen and (min-width: 2000px) {

  .ProductTileYX1BackgroundImage {
      height: 400px;
  }


  .ProductTileYX1ProductInfoContainer {
      height: 400px;
  }

  .ProductTileYX1ProductText {
      font-size: 70px;
      letter-spacing: 4.5px;
  }
}

