.ProductTilesZX7BackgroundImage {
    width: 100%;
    /* text-align: center; */
    background-image: url("../../../assets/image-speaker-zx7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
    border-radius: 10px;  
    position: relative;
    margin-top: 30px;
  }

.ProductTilesZX7InnerContainerTextButtonGroup { 
    position: absolute;
    bottom: 30%;
    left: 5%;
    margin-left: 0px;
}

.ProductTilesZX7ImageTextHeading {
  font-weight: bolder;
  font-size: 25px;
  margin-left: 0px;
  letter-spacing: 2px;
  margin-bottom: 20px;
} 

@media screen and (min-width: 400px) {
  .ProductTilesZX7ImageTextHeading {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 0px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  } 
}

@media screen and (min-width: 600px) {
  .ProductTilesZX7BackgroundImage {
    background-image: url("../../../assets/image-speaker-tablet-zx7.jpg");
    background-size: cover;
    background-position: center; 
  }

  .ProductTilesZX7ImageTextHeading {
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  } 
}

@media screen and (min-width: 1400px) {
  .ProductTilesZX7BackgroundImage {
    background-image: url("../../../assets/image-speaker-desktop-zx7.jpg");
    background-size: cover;
    background-position: right;
    margin-top: 50px;  
  }

  .ProductTilesZX7ImageTextHeading {
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  } 
}

@media screen and (min-width: 2000px) {

  .ProductTilesZX7ImageTextHeading {
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 20px;
  } 
}
