.ModelImageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
}

.ModelImageBackgroundImage {
    order: 1;
    background-image: url("../../assets/image-best-gear-mobile.jpg");
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    border-radius: 10px;
}

.ModelImageTextContainer {
    order: 2;
    height: 300px;
    width: 100%;
}

.ModelImageHeading {
    padding: 25px 10% 0 10%;
    letter-spacing: 1.5px;
}

.ModelImageSpan {
    color: #D87D4A;
}

.ModelImageParagraph {
    color: #000000;
    opacity: .4;
    line-height: 25px;
    letter-spacing: .6px;
    padding: 20px 20px 0 20px;
    font-size: 15px;
}

@media screen and (min-width: 600px) {
  .ModelImageBackgroundImage {
      background-image: url("../../assets/image-best-gear-tablet.jpg");
  }

  .ModelImageHeading {
    font-size: 40px;
  }

  .ModelImageParagraph {
      line-height: 30px;
      letter-spacing: .8px;
      font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .ModelImageContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 120px;
}

.ModelImageBackgroundImage {
    order: 2;
    background-image: url("../../assets/image-best-gear-desktop.jpg");
    width: 50%;
    height: 500px;
}

.ModelImageTextContainer {
    order: 1;
    height: 500px;
    width: 50%;
}

.ModelImageInnerTextContainer {
    position: relative;
    top: 10%;
    right: 5%;
}

.ModelImageHeading {
    padding: 25px 10% 0 10%;
    letter-spacing: 1.5px;
    position: relative;
    top: 20%;
}

.ModelImageSpan {
    color: #D87D4A;
}

.ModelImageParagraph {
    color: #000000;
    opacity: .4;
    line-height: 25px;
    letter-spacing: .6px;
    padding: 20px 20px 0 20px;
    font-size: 15px;
}
}