
.ProductDetailsInfoImagesGroup1, 
.ProductDetailsInfoImagesGroup2,
.ProductDetailsInfoImagesGroup3 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    justify-content: center;
}

.ProductDetailsInfoImagesContainer {
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 600px) {
  .ProductDetailsInfoImagesContainer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* object-fit: cover;  TRY THIS ON THE IMAGES TO SEE IF THEY WILL STRETCH TO FILL WIDESCREEN */ 
    /* text-align: center;
    align-content: center; */
    justify-content: center;
    width: 100%;
    }
    
    .ProductDetailsInfoImagesContainerLeft {
    display: flex;
    flex-direction: column;
    order: 1;
    height: auto;
    justify-content: space-between;
    margin-right: 20px;
    }

    .ProductDetailsInfoImagesGroup1 {
      width: 100%;
      order: 1;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .ProductDetailsInfoImagesGroup2 {
      width: 100%;
      order: 2;
      height: auto;
      border-radius: 10px;
    }

    .ProductDetailsInfoImagesGroup3 {
      width: 100%; /* <100% width is what allows for even looking gaps between images */
      height: 100%;
      border-radius: 10px;
    }
    
    .ProductDetailsInfoImagesContainerRight {
    order: 2;
    height: auto;
    /* justify-content: space-evenly; */
    /* width: 60%; */
    }
}