html,
body {
  margin: 0;
  width: 100%;
  font-family: 'Manrope', sans-serif;
}

.container-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.product-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hrDesktop {
  display: none;
}

.menu {
  z-index: -1;
  color: black;
  background-color: white;
}

.imageContainer {
    background-image: url("./assets/image-header.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    height: 500px;
}

@media screen and (min-width: 300px){ 
    .imageContainer {
        background-position:center top;
        height: 550px;
    }
}

@media screen and (min-width: 350px){ 
  .imageContainer {
      background-position:center top;
      height: 630px;
  }
}

@media screen and (min-width: 400px){ 
  .imageContainer {
    height: 700px;
  }
}

@media screen and (min-width: 440px){ 
  .imageContainer {
    height: 800px;
  }
}

@media screen and (min-width: 500px){ 
  .imageContainer {
      height: 900px;
  }
}

@media screen and (min-width: 560px){ 
  .imageContainer {
      height: 1000px;
  }
}

@media screen and (min-width: 600px){ 
  .imageContainer {
    background-image: url("./assets/image-header-tablet.jpg"); /* Maybe use mobile image here */
    background-size:cover;
    background-position:center center;
    height: 800px;
  }}

@media screen and (min-width: 800px){ 
  .imageContainer {
    height: 1000px;
  }}

@media screen and (min-width: 1000px){ 
    .imageContainer {
      height: 1200px;
    }}
@media screen and (min-width: 1200px){ 
  .imageContainer {
    background-position:center top;
    height: 1400px;
  }
  .hrDesktop {
    display:  none;
  }
}

@media screen and (min-width: 1400px){ 
  .imageContainer {
      background-image: url("./assets/image-hero.jpg");
      background-size:cover;
      background-position:center top;
      height: 1200px;
  }
  .container-padding {
      padding-left: 10%;
      padding-right: 10%;
  }
  .hrDesktop {
      display: block;
      margin: 0 0vw 0 0vw;
      height: 1px;
      background-color: grey;
      border: none;
  }
}

@media screen and (min-width: 2000px){ 
  .imageContainer {
      height: 2000px;
  } 
}

@media screen and (min-width: 3500px){ 
  .imageContainer {
      height: 2500px;
  } 
}

@media screen and (min-width: 4000px){ 
  .imageContainer {
      height: 3500px;
  } 
}
